.bg-container {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    background-size: cover;
    height: 100vh;
}

.align {
    text-align: center;
}

.textcolor {
    color: white;
}

.button {
    color: white;
    text-align: center;
    border-width: 5px;
}

.font {
    font-size: 14px;
}

.fonttext {
    font-family: Roboto;
}

.paragraph {
    text-decoration: underline;
}